{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>


    {% block title %}
      <title>Restaurant manager</title>
    {% endblock %}
  </head>
  <body>
    {% block sidebar %}
    <nav class="flex fixed text-lg w-48 text-center items-center justify-between h-auto bg-white text-gray-700 border-b border-r border-gray-200 p-2"
      >

      
      <!-- default navigation text for every page -->

      <ul>

        <img src="{% static 'cursed-pizza.png' %}" alt="Cursed pizza logo">
        <li class="pb-2 text-sm">cursedpizza.com</li>
        <a href="{% url 'index' %}"><li class="hover:bg-yellow-200 h-8 border">Home</li></a>
        <a href="{% url 'menu' %}"><li class="hover:bg-yellow-200 h-8 border">Menu</li></a>
        <a href="{% url 'calendar' %}"><li class="hover:bg-yellow-200 h-8 border">Calendar</li></a>
        <a href="{% url 'orders' %}"><li class="hover:bg-yellow-200 h-8 border">Orders</li></a>
        <a href="{% url 'statistics' %}"><li class="hover:bg-yellow-200 h-8 border">Statistics</li></a>
      </ul>

    </nav>
    {% endblock %}
    <div class="flex flex-col ml-48">

      <div class="w-2/3 m-2">
        <div class="bg-blue-200 border rounded-md p-2 m-1 text-center text-xl">
        {% block pagetitle%}
        Cursedpizza.com
          <!-- default page title text (typically empty) -->
        {% endblock %}
        </div>
        {% block content %}
          <!-- default content text (typically empty) -->
        {% endblock %}
      </div>
    </div>
  </body>
</html>