{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>


    {% block title %}
      <title>Restaurant manager</title>
    {% endblock %}
  </head>
  <body>
    {% block sidebar %}
    <nav class="flex fixed w-32 items-center justify-between px-6 h-auto bg-white text-gray-700 border-b border-r border-gray-200"
      >
      <!-- default navigation text for every page -->

      <ul>
        <li class="hover:bg-yellow-200"><a href="{% url 'index' %}">Home</a></li>
        <li class="hover:bg-yellow-200"><a href="{% url 'menu' %}">Menu</a></li>
        <li class="hover:bg-yellow-200"><a href="{% url 'calendar' %}">Calendar</a></li>
        <li class="hover:bg-yellow-200"><a href="{% url 'orders' %}">Orders</a></li>
        <li class="hover:bg-yellow-200"><a href="{% url 'statistics' %}">Statistics</a></li>
      </ul>

    </nav>
    {% endblock %}
    <div class="flex flex-col ml-36">
      {% block content %}
        <!-- default content text (typically empty) -->
      {% endblock %}
    </div>
  </body>
</html>