{% extends "_base.html" %}

{% block content %}

    {% comment %} Make nice centered header with text calendar {% endcomment %}
    
    <div class="bg-blue-200 border w-2/3">
        <h1 class="text-center text-xl">Calendar</h1>
    </div>
    <div class="grid grid-cols-7 w-2/3">
    {% comment %} Weekday names {% endcomment %}
    {% for dayname in weekdays %}
    
        <div class="bg-blue-100 border">{{ dayname.1 }}</div>
    
    {% endfor %}

    {% comment %} skipped cells {% endcomment %}
    {% for _ in offset_range%}
        <div></div>
    {% endfor %}

    {% comment %} days {% endcomment %}
    {% for day,hours in days.items %}
    <div class="h-16">
        <div class="bg-gray-50 border h-full"> <div>{{day}}</div> <div>{{hours}} </div></div> 
    </div>
        {% endfor %}
    </div> 

    {% include "submit_recurring_hours.html" %}
{% endblock content %}