{% extends "_base.html" %}

{% block pagetitle %} Calendar {% endblock pagetitle %}

{% block content %}

    <div class="grid grid-cols-7 text-center">
    {% comment %} Weekday names {% endcomment %}
        {% for dayname in weekdays %}
        
            <div class="bg-blue-100 border rounded-md m-1"><b>{{ dayname.1 }}</b></div>
        
        {% endfor %}

        {% for _ in offset_range%}
            <div></div>
        {% endfor %}

        {% for day,hours in days.items %}
        <div class="h-16 bg-gray-100 border rounded-md p-2 m-1">
            <div>{{day}}</div> <div>{{hours}} </div>
        </div>
        {% endfor %}
    </div> 

    {% include "submit_recurring_hours.html" %}
    
{% endblock content %}