{% extends "_base.html" %}

{% block pagetitle %} Orders {% endblock %}

{% block content %}
    <div class="grid grid-cols-4 text-center">

        <div class="bg-blue-100 border text-center rounded-md m-1 text-lg"><b>Pending</b></div>
        <div class="bg-blue-100 border text-center rounded-md m-1 text-lg"><b>In progress</b></div>
        <div class="bg-blue-100 border text-center rounded-md m-1 text-lg"><b>Completed</b></div>
        <div class="bg-blue-100 border text-center rounded-md m-1 text-lg"><b>Cancelled</b></div>

        <div>
            {% for order in PENDING %}
            <div class="border bg-gray-100 rounded-md p-2 m-1 mb-2">
                <div class=""><b>{{ order.name }}</b></div>
                <div class="text-gray-600">{{ order.phone_number }}</div>
                <div class="text-gray-600">{{ order.datetime|date:'Y/m/d - H:i' }}</div>
                <div class="mb-2 text-gray-600">Total: {{ order.get_total_price }},-</div>
                {% for item in order.items.all %}
                    <div>{{ item }}&emsp;-&emsp;{{item.price}},-</div>
                {% endfor %}
                <form action="/change_order_status/" method="post">
                    <input type="hidden" id="order_id" name="order_id" value="{{ order.pk }}"></input>
                    <input type="submit" id="move_dir" name="move_dir" value=">>" class="button border w-24 bg-purple-300 border-purple-400 rounded-md "></input>
                    {% csrf_token %}
                </form>
            </div>
            {% endfor %}
        </div>

        <div>
            {% for order in IN_PROGRESS %}
            <div class="border bg-gray-100 rounded-md p-2 m-1 mb-2">
                <div class=""><b>{{ order.name }}</b></div>
                <div class="text-gray-600">{{ order.phone_number }}</div>
                <div class="text-gray-600">{{ order.datetime|date:'Y/m/d - H:i' }}</div>
                <div class="mb-2 text-gray-600">Total: {{ order.get_total_price }},-</div>
                {% for item in order.items.all %}
                    <div>{{ item }}&emsp;-&emsp;{{item.price}},-</div>
                {% endfor %}
                <form action="/change_order_status/" method="post">
                    <input type="hidden" id="order_id" name="order_id" value="{{ order.pk }}"></input>
                    <input type="submit" id="move_dir" name="move_dir" value="<<" class="border w-24 bg-purple-300 border-purple-400 rounded-md"></input>
                    <input type="submit" id="move_dir" name="move_dir" value=">>" class="border w-24 bg-purple-300 border-purple-400 rounded-md"></input>
                    {% csrf_token %}
                </form>
            </div>
            {% endfor %}
        </div>

        <div>
            {% for order in COMPLETED %}
            <div class="border bg-gray-100 rounded-md p-2 m-1 mb-2">
                <div class=""><b>{{ order.name }}</b></div>
                <div class="text-gray-600">{{ order.phone_number }}</div>
                <div class="text-gray-600">{{ order.datetime|date:'Y/m/d - H:i' }}</div>
                <div class="mb-2 text-gray-600">Total: {{ order.get_total_price }},-</div>
                {% for item in order.items.all %}
                    <div>{{ item }}&emsp;-&emsp;{{item.price}},-</div>
                {% endfor %}
                <form action="/change_order_status/" method="post">
                    <input type="hidden" id="order_id" name="order_id" value="{{ order.pk }}"></input>
                    <input type="submit" id="move_dir" name="move_dir" value="<<" class="border w-24 bg-purple-300 border-purple-400 rounded-md"></input>
                    <input type="submit" id="move_dir" name="move_dir" value=">>" class="border w-24 bg-purple-300 border-purple-400 rounded-md"></input>
                    {% csrf_token %}
                </form>
            </div>
            {% endfor %}
        </div>

        <div>
            {% for order in CANCELLED %}
            <div class="border bg-gray-100 rounded-md p-2 m-1 mb-2">
                <div class=""><b>{{ order.name }}</b></div>
                <div class="text-gray-600">{{ order.phone_number }}</div>
                <div class="text-gray-600">{{ order.datetime|date:'Y/m/d - H:i' }}</div>
                <div class="mb-2 text-gray-600">Total: {{ order.get_total_price }},-</div>
                {% for item in order.items.all %}
                    <div>{{ item }}&emsp;-&emsp;{{item.price}},-</div>
                {% endfor %}
                <form action="/change_order_status/" method="post">
                    <input type="hidden" id="order_id" name="order_id" value="{{ order.pk }}"></input>
                    <input type="submit" id="move_dir" name="move_dir" value="<<" class="border w-24 bg-purple-300 rounded-md"></input>
                    {% csrf_token %}
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
```