{% extends "_base.html" %}


{% block content %}
    <p>Statistics</p>

    <div>
        <div>Weekly open hours:<br>
            &emsp;{{ weekly_open_hours }}</div>
        <div>Average open hours per day:<br>
            &emsp;{{ weekly_open_hours_avg }}</div>
        <div>
            Averages per day:
            <div class="grid grid-cols-5 w-1/2 pl-8 border">
                <div>Day</div><div>Open</div><div>Close</div><div>Number of orders</div><div>Total income</div>
                {% for day, open, close, orders, income in avg_weekday_orders %}
                    <div>{{ day }}</div><div>{{ open }}</div><div>{{ close }}</div><div>{{ orders }}</div><div>{{ income }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}