{% comment %} Make a input bar on the side {% endcomment %}

<div class="bg-gray-50 border mt-2 rounded-md">
    <form action="/submit_recurring_hours/" method="post">
        <div class="p-2 w-auto inline">
            <label for="day">Day</label>
            <select name="day" id="day">
                {% for weekday in weekdays %}
                    <option value="{{weekday.0}}">{{weekday.1}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="p-2 w-auto inline">
            <label for="closed">Closed all day</label>
            <input type="checkbox" name="closed" id="closed">
        </div>
    
        <div class="p-2 w-auto inline">
            <label for="open">Opening time</label>
            <input type="time" name="open" id="open" value="08:00">
            <input type="time" name="close" id="close" value="22:00">
        </div>

        <input type="submit" value="Submit" class="bg-purple-300 w-32 h-8 border border-purple-300 rounded-md">

        {% csrf_token %}
    </form>
</div>